<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="/css/chat.css">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<!--Side nav bar which displays all class chatrooms. TODO: Figure out a way to integrate side nav with regular nav-->
<header>
    <nav class="red darken-3">
        <ul id="nav-mobile" class="right">
            <li><a href="/">About eduChat</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
        <ul id="slide-out" class="side-nav fixed grey darken-4">
            <div id="room_links">
                <h5 class="grey-text text-lighten-2" style="padding-left: 20px;">Classes</h5>
            </div>
            <li><a href="#addroom_modal" class="white-text modal-trigger">Add a class</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
    <!--Modal for about us-->



    <!-- <div id="aboutus_modal" class="modal">
        <div class="modal-content">
            <h2>What is Edu Chat</h2>
            <p>This is a website that lets you talk to people in your college classes specifically. You have to be enrolled in that class to talk to the other people. It's anonymous so you don't know who is saying what. All you know is that they are also in your college class. But here's the twist, if you want to privately message someone, both you and that person have to accept and then you can see who you guys really are. Uses facebook integration and a .edu email address to check if you are in that class.
            </p>
            <p>
            This is a project for SIUE eHacks
            </p>
            <div class="modal-footer">
            Developers: Michael Rhodes, Erik Verduin, Suprith Aireddy, Ichi Lee, Grace Lu  
            </div> 
        </div>
    </div> -->

    <!--Modal for adding chatroom-->
    <div id="addroom_modal" class="modal">
        <div class="modal-content">
            <h4 class="center">Add a room</h4>
            <form class="col s12" method="POST" action="/newRoom">
                <div class="row">
                    <div class="input-field col l7 offset-l3 m6 s12 ">
                        <input id="class" name="class" type="text" class="validate"/>
                        <label for="class">Class</label>
                    </div>
                    <div class="input-field col l7 offset-l3 m6 s12 ">
                        <select id="departments">
                            <option value="Engineering">Engineering</option>
                            <option value="Nursing">Nursing</option>
                            <option value="Business">Business</option>
                        </select>
                        <label>Department</label>
                    </div>
                    <div class="input-field col l7 offset-l3 m6 s12 ">
                        <input id="admin" name="admin" type="text" class="validate"/>
                        <label for="admin">Admin</label>
                    </div>
                    <div class="input-field col l7 offset-l3 m6 s12 ">
                        <input id="password" name="password" type="password" class="validate"/>
                        <label for="password">Admin Password</label>
                    </div>
                </div>
                <div class="row center-align">

                    <div type="submit" id="add_room_button" class="btn waves-effect waves-light custom-button grey darken-4">Add</div>
                </div>
			</div>
		</form>
		</div>
	</div>
	</header>
	<main>
		<!--Displays class name-->
		<div id="class_name" class="center"><h1>Class Name</div>
		<div id="messages" style="padding-left: 50px;"></div>

	</main>
	<!-- Message Area -->
	<footer class="message_area" style="padding-top: 20px;">
		<div class="container">
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col l12 offset-l2 s12">
							<textarea id="message_input" class="col l8 materialize-textarea"></textarea>
							<div id="send" class="col l2 offset-l1 btn waves-effect waves-light custom-button grey darken-4">Send</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</footer>
	<!-- End Message Area -->
      <script type="text/javascript" src="/js/chat.js"></script>
</body>
</html>

