#bgPic{
	width: 100%;
	height: 100%;
}

.jumbotron{
	border-radius: 100px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.margin{
	margin-top: 20px;
}

.buttonC{
	margin-top: 10px;
}

.navbar-fixed nav {
    position: relative;
}